<!-- Desktop Sidebar -->
<div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col lg:border-r lg:border-gray-200 lg:bg-teal-800 lg:py-5 px-3">
    <!-- Logo -->
    <a routerLink="/"><img class="size-12 rounded-full" src="/images/logo.jpg" alt=""></a>
    <nav class="flex-1 flex flex-col mt-5">
        @for (route of routes; track route.href) {
            <a  class="flex items-center gap-3 px-5 py-3 text-sm font-medium transition-all duration-200 text-slate-300 hover:bg-gray-700/30 hover:text-white border-l-4 border-transparent"
                [routerLink]="route.href"
                routerLinkActive="bg-gray-800 text-white !border-yellow-400 pointer-events-none"
                [routerLinkActiveOptions]="{ exact: true }">
                @if(route.svg){<span [innerHTML]="sanitizeSvg(route.svg)"></span>}
                <span>{{ route.name }}</span>
            </a>
        }

        <hr class="text-slate-400">

        <button class="w-full flex items-center gap-3 px-5 py-3 text-sm text-slate-300 hover:bg-slate-700/30 font-medium transition-all duration-200 cursor-pointer"
            (click)="logout()">
            <svg class="w-6 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            <span>Odjava</span>
        </button>
    </nav>
</div>

<!-- Mobile Sidebar -->
<div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
    <!-- Backdrop -->
    <div
        class="fixed inset-0 bg-gray-800/80 transition-opacity duration-300"
        [class]="showMobileDrawer() ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
        (click)="close()">
    </div>
    <!-- Drawer -->
    <div class="fixed flex w-full h-full sm:max-w-xs flex-col bg-teal-800 py-5 px-3 transition-all duration-300 ease-in-out"
        [class]="showMobileDrawer() ? 'translate-x-0 opacity-100' : '-translate-x-full opacity-0 pointer-events-none'">

        <!-- Close button -->
        <div class="absolute sm:block right-1 sm:right-0 top-3 sm:top-0 sm:-mr-12 sm:pt-2">
            <button
                (click)="close()"
                class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                <span class="sr-only">Close sidebar</span>
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <!-- Logo -->
        <a routerLink="/"><img class="size-12 rounded-full" src="/images/logo.jpg" alt=""></a>

        <!-- Nav -->
        <nav class="flex flex-col py-4">
            @for (route of routes; track route.href) {
                <a  class="flex items-center gap-3 px-5 py-3 text-sm font-medium transition-all duration-200 text-slate-300 hover:bg-gray-700/30 hover:text-white border-l-4 border-transparent"
                    [routerLink]="route.href"
                    routerLinkActive="bg-gray-800 text-white !border-yellow-400 pointer-events-none"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="close()">
                    @if(route.svg){<span [innerHTML]="sanitizeSvg(route.svg)"></span>}
                    <span>{{ route.name }}</span>
                </a>
            }

            <hr class="text-slate-400">

            <button class="w-full flex items-center gap-3 px-5 py-3 text-sm text-slate-300 hover:bg-slate-700/30 font-medium transition-all duration-200 cursor-pointer"
                (click)="logout()">
                <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                </svg>
                <span>Odjava</span>
            </button>
        </nav>

    </div>
</div>

<!-- Header Mobile -->
<div class="sticky top-0 flex h-16 shrink-0 border-b border-gray-200 bg-white lg:hidden ">
  <button class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-seljak_dark_green cursor-pointer"
    (click)="open()">
    <svg class="size-6 pointer-events-none" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path class="pointer-events-none" stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
    </svg>
  </button>

  <div class="flex justify-between items-center px-4 sm:px-6 space-x-4 w-full">
    <div class="flex space-x-5">
      <div class="text-lg font-semibold leading-6 text-gray-900 sm:truncate">{{ sectionName() }}</div>
      @if (loading()) { <app-spinner color="#00695C" /> }
    </div>
  </div>
</div>